button{
    font-size: 30px;
    cursor:pointer;
    margin:20px;
}

.container{
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    text-align: center;
}

progress::-moz-progress-bar {
    background: rgb(68, 68, 68);
}


